.App {
  text-align: center;
  min-height: 100vh;
  background-image: url("https://cdn.theatlantic.com/thumbor/l26Ozy3BN2DL9oomD6SLLTumqu4=/0x0:2000x1125/1440x810/media/img/2020/08/18/KarenNew/original.jpg;");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
